@selva:registry=https://npm.selva.town
@autoswarm:registry=https://npm.selva.town
@dhanam:registry=https://npm.selva.town
@enclii:registry=https://npm.selva.town
//npm.selva.town/:_authToken=${NPM_REGISTRY_TOKEN}
