@madfam:registry=https://npm.madfam.io
@autoswarm:registry=https://npm.madfam.io
@dhanam:registry=https://npm.madfam.io
@enclii:registry=https://npm.madfam.io
//npm.madfam.io/:_authToken=${NPM_REGISTRY_TOKEN}
